<div style="text-align:left; margin-left: 20px">
  <h2>
    Stock Details
  </h2>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"><img src="{{element.image}}" width="100" height="100" alt=""></td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Stock Amount Column -->
  <ng-container matColumnDef="stockAmount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Stock Level</th>
    <td mat-cell *matCellDef="let element"> {{element.currentStockLevel}} </td>
  </ng-container>

  <!-- Minimum Stock Level Column -->
  <ng-container matColumnDef="minStockLevel">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Minimum Stock Level</th>
    <td mat-cell *matCellDef="let element"> {{element.minStockLevel}} </td>
  </ng-container>

  <!-- One Off Order Amount Column -->
  <ng-container matColumnDef="oneOffOrderAmount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> One Off Order Amount</th>
    <td mat-cell *matCellDef="let element"> {{element.oneOffOrderAmount}} </td>
  </ng-container>

  <!-- Recommended Action -->
  <ng-container matColumnDef="recommendedStockAction">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recommended Action</th>
    <td mat-cell *matCellDef="let element"> {{element.recommendedStockAction}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<table style="margin-top: 15px; margin-left: 25%">
  <tr>
    <td>
      <button mat-fab color="primary" [routerLink]="['/stock-audit-history']">History</button>
    </td>
    <td>
      <a class="btn btn-clear download-btn" title="Download Stock Details" [href]="downloadJsonHref"
         download="stock-details.json">Download Stock Details</a>
    </td>
  </tr>
</table>

