<div style="text-align:left; margin-left: 20px">
  <h2>
    Stock Audit History
  </h2>
</div>

<mat-form-field style="margin-bottom: 15px; margin-left: 15px">
  <mat-label>Search Audit History</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search by product name">
</mat-form-field>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Product Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
    <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
  </ng-container>


  <!-- Recommended Action Column -->
  <ng-container matColumnDef="recommendedAction">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recommended Action </th>
    <td mat-cell *matCellDef="let element"> {{element.stockRecommendAction}} </td>
  </ng-container>

  <!-- Minimum Stock Level Column -->
  <ng-container matColumnDef="recommendActionTimestamp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recommended Action Date </th>
    <td mat-cell *matCellDef="let element"> {{element.recommendActionTimestamp | date: 'medium'}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

  <table style="margin-top: 15px; margin-left: 15px">
    <tr>
      <td>
        <button mat-fab color="primary" [routerLink]="['/stock-details']">Back</button>
      </td>
      <td>
        <a class="btn btn-clear download-btn" title="Download Stock Audit History" [href]="downloadJsonHref"
           download="stock-audit-history.json">Download Stock Audit History</a>
      </td>
    </tr>
  </table>
</div>

